.login-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #4e5eef;
    width: 100vw;
    height: 100vh;
    &-1 {
        margin-bottom: 6em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &-2 {
        margin-top: 9em;
        margin-right: 6em;
        flex-direction: column;
        .form {
            box-shadow: 10px 10px 30px rgba(69, 69, 69, 0.25);
        }
    }
}

.logo {
    width: 50%;
}
.logo-text {
    font-size: 3.5rem;
    max-width: 30vw;
    color: white;
    text-align: center;
}
