.login-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #4e5eef;
    width: 100vw;
    height: 100vh;
    &-1 {
        margin-bottom: 8em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &-2 {
        margin-top: 6em;
        margin-right: 6em;

        flex-direction: column;
        .form {
            box-shadow: 10px 10px 30px rgba(69, 69, 69, 0.25);
        }
    }
}

.logo {
    width: 45%;
}
.logo-text {
    font-size: 2.7rem;
    max-width: 28vw;
}
