.product-container {
    height: 100vh;
    #tablet {
        position: absolute;
        width: 400px;
        height: 579px;
        right: 15em;
        top: 10em;
        scale: 1.2;
    }
    #background-svg {
        position: absolute;
        left: 0px;
        bottom: 0;
    }
    .header-section {
        width: 100%;
        height: 50vh;
        background-color: #4e5eef;
        padding: 10em;
        h2 {
            width: 30vw;
            color: #ffffff;
            font-size: 2.5rem;
            font-weight: bold;
        }
    }
    .content {
        &-section {
            padding-top: 3em;
            padding-left: 5em;
            display: grid;
            grid-template-columns: auto auto;
            width: 50vw;
        }
        &-card {
            text-align: center;
            width: 20em;
            margin-top: 2em;
            h3 {
                font-size: 2rem;
                color: #4e5eef;
            }
        }
    }
}
